[submodule "03_euler"]
	path = 03_euler
	url = https://github.com/mks65/euler-tchen00.git
[submodule "lessons"]
	path = lessons
	url = https://github.com/mks65/lessons.git
[submodule "09_array_swap"]
	path = 09_array_swap
	url = https://github.com/mks65/lessons.git
